@import "tailwindcss";
#divData > * {
    @apply outline;
}

.transparentInput {
    @apply h-full w-full p-3 text-black text-center border-0 focus:outline-0;
}
.studentField > * {
    @apply outline;
}
.sad {
    @apply outline w-full;
}
.studentField p {
    @apply p-2;
}
#Formbutton {
    @apply px-4 py-2  rounded text-white;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        height: 15px;
    }

    .scrollbar::-webkit-scrollbar-track {
        @apply rounded-t-sm bg-[#888];
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 100vh;
        border: 4px solid #888;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-200;
    }
}
